**Ejercicio 1**.

In [3]:
lista1=[[34587,"Learning Python, Mark Lutz",4,40.95],
       [98762,"Programming Python",5,56.80],
       [77225,"Head First Python, Paul Barry",3,32.95],
       [88112,"Einfuhrung in Python3, Bernd Klein",3,24.99]]
print(lista1)

[[34587, 'Learning Python, Mark Lutz', 4, 40.95], [98762, 'Programming Python', 5, 56.8], [77225, 'Head First Python, Paul Barry', 3, 32.95], [88112, 'Einfuhrung in Python3, Bernd Klein', 3, 24.99]]

In [12]:
resultado1=list(map(lambda i: (str(i[0]),str(i[3]*i[2]+10)) if i[3]*i[2]<100 else (str(i[0]),str(i[3]*i[2])),lista1))
print(resultado1)

[('34587', '163.8'), ('98762', '284.0'), ('77225', '108.85000000000001'), ('88112', '84.97')]

**Ejercicio 2**.

In [11]:
lista2=[[1,("5464",4,9.99),("8274",18,12.99),("9744",9,44.95)],
        [2,("5464",9,9.99),("9744",9,44.95)],
        [3,("5464",9,9.99),("88112",11,24.99)],
        [4,("8732",7,11.99),("7733",11,18.99),("88112",5,39.95)]]
print(lista2)

[[1, ('5464', 4, 9.99), ('8274', 18, 12.99), ('9744', 9, 44.95)], [2, ('5464', 9, 9.99), ('9744', 9, 44.95)], [3, ('5464', 9, 9.99), ('88112', 11, 24.99)], [4, ('8732', 7, 11.99), ('7733', 11, 18.99), ('88112', 5, 39.95)]]

In [26]:
resultado2=list(map(lambda i: (str(i[0]),str(i[1][1]*i[1][2]+i[2][1]*i[2][2]+i[3][1]*i[3][2])) if len(i)==4 else\
                   (str(i[0]),str(i[1][1]*i[1][2]+i[2][1]*i[2][2])),lista2))
print(resultado2)

[('1', '678.3299999999999'), ('2', '494.46000000000004'), ('3', '364.79999999999995'), ('4', '492.57')]

**Nota**: El ejercicio 2 no supe cómo hacerlo con la función reduce. Estoy al tanto de que el código sólo funciona con ordenes de 2 ó 3 libros diferentes.

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#808080; background:#fff;">
Created with Jupyter by Xiuhcoatl
</footer>